@import 'normalize.css';

@import './common/var.css';

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  font-size: var(--fontSize);
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: var(--mainColor);
  line-height: 1.5;
  font-size: calc(var(--fontSize) * .875);
}

@font-face {
  font-family: 'BellMT';
  src: url('../fonts/BellMT.eot');
  src:
    url('../fonts/BellMT.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/BellMT.woff2') format('woff2'),
    url('../fonts/BellMT.woff') format('woff'),
    url('../fonts/BellMT.ttf') format('truetype'),
    url('../fonts/BellMT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.danger-theme {
  @apply --danger-theme;
}

#root {
  padding: 20px;
  height: 100%;
  font-family: 'BellMT';
  background: url(../imgs/garfield.png) center center no-repeat;
}
